<main>
  <div class="row">
    <div class="colm-form">
      <div class="form-container">
        <input
          type="email"
          placeholder="Su email"
          [(ngModel)]="usuario.email"
        />
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="usuario.password"
        />
        <input
          type="password"
          placeholder="Repita la password"
          [(ngModel)]="passwordAux"
        />
        <button class="btn-login" (click)="registro()">Registrarse</button>
      </div>
    </div>
  </div>
</main>
