<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">UTN - Laboratorio 4 - Arias Mariano</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <button
          routerLink="Bienvenida"
          class="btn btn-primary rounded-pill px-3"
        >
          Inicio
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="Login" class="btn btn-primary rounded-pill px-3">
          Login
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="Registro" class="btn btn-primary rounded-pill px-3">
          Registro
        </button>
      </li>
      <li class="nav-item">
        <button routerLink="Error" class="btn btn-primary rounded-pill px-3">
          Error
        </button>
      </li>
    </ul>
  </header>
</div>
